{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% block link %} {% endblock %}
  <title>{% block title %}Home{% endblock %}</title>
</head>
  <body>
<ul class="nav justify-content-center">
{% if request.user.is_authenticated and request.user.is_staff %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'create' %}">Create</a>
    </li>
{% endif %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'new' %}">New</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'random' %}">Random</a>
    </li>
</ul>
  <hr>
  {% block content %}

  {% endblock %}
  </body>
</html>